.DS_Store
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg
*.egg-info/
dist/
build/
eggs/

lib64/
parts/
sdist/
develop-eggs/
.installed.cfg
*.egg-info/
pip-wheel-metadata/
*.pyd

# Django stuff:
*.log
*.pot
*.pyc
*.mo
*.pyo
*.pyd
*.sqlite3
*.db
*.sqlite3-journal
db.sqlite3
db.sqlite3-shm
db.sqlite3-wal
# If using migrations:
migrations/

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyInstaller
# Usually these files are written by a python script from a template
# before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
*.orig

# Translations
*.mo

# Django stuff:
*.log
local_settings.py
db.sqlite3
media

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scr

# Flutter/Dart/Pub related
**/doc/api/

# Files and directories created by pub
.dart_tool/
.packages
.pub/
build/
# If you're building an Android app:
android/app/debug
android/app/profile
android/app/release
android/.gradle
android/captures/
android/gradlew
android/gradlew.bat
android/local.properties
android/.idea
android/app/.cxx/
android/app/*.jks

# If you're building an iOS app:
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework/
ios/Flutter/Flutter.podspec
ios/Runner.xcworkspace/
ios/Runner.xcodeproj/project.xcworkspace/
ios/.dart_tool/
ios/Flutter/App.framework/
ios/Flutter/engine/
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig

# If you're building a web app:
web/.dart_tool/
web/.packages
web/.build/
web/.webdev/

# Miscellaneous
*.lock
*.log
*.DS_Store
*.iml
.idea/
.vscode/
*.swp


